<!--The content below is only a placeholder and can be replaced.-->
<div class="header main-header text-center">
  <h3>Welcome to {{ title }}!</h3>
</div>

<div class="container-fluid main-content">

  <div class="card main-component">
    <div class="main-component-header main-component-header-primary text-center">
      <h4>Chat Form</h4>
    </div>

    <div class="card-body d-flex flex-column justify-content-center">
      <lib-angular-chat-awesome
        class="chat-box"
        [contactName]="'Dan Quail'"
        [messages]="chatMessages"
        [timezone]="timezone"
        [height]="'500px'"
        [(newMessage)]="newMessage">
      </lib-angular-chat-awesome>
    </div>

    <div class="btn btn-group">
      <button class="btn btn-primary" (click)="onSubmit()" [disabled]="!newMessage">New Message</button>
    </div>

  </div>

</div>
