@import './variables';

.content {
  overflow: hidden;
  position: relative;
  background: $content-background-color;
}

.contact-profile {
  background: $light-grey;
}

.contact-name {
  color: $base-color;
  height: $contact-name-height;
}

ul {
  list-style: none;
}

.messages {
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 100%;
}

.messages::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

.messages::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
}

.messages ul li {
  clear: both;
  margin: 15px 15px 5px 5px;
  width: calc(100% - 25px);
  font-size: 0.9em;
}

.messages ul li:nth-last-child(1) {
  margin-bottom: 1px;
}

.messages ul li.sent div.message-content {
  background: $base-color;
  color: #f5f5f5;
}

.messages ul li.received div.message-content {
  background: #f5f5f5;
}

.message-content {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 20px;
  line-height: 130%;
  word-break: break-all;
}

.message-content p img {
  max-width: 100%;
  max-height: 100%;
}

.message-content p {
  margin-bottom: 0;
}

.message-input {
  background: $light-grey;
}

.avatar img {
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  float: left;
  border: 5px solid rgba(255,255,255,0.5);
}

