/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/scss/bootstrap';

body {
  background-color: #e9e9e9;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

* {
  box-sizing: border-box;
}
